/* General Styles */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
}

/* Header */
#header {
  background-color: rgb(252, 223, 58);
  display: flex;
  position: sticky;
  justify-content: center;
  min-height: 8vh;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.header_container {
  display: flex;
  justify-content: center;
  width: 70%;
}

.navbar_container {
  width: 400px;
}

.socialMedia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
}

.socialMedia a {
  display: inline-block;
  font-size: 1.5rem;
  color: rgba(32, 32, 32, 0.911);
}

.links {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.link a {
  color: rgb(51, 51, 51);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
}

.link a:hover {
  color: rgb(255, 255, 255);
}

.link a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: rgb(9, 0, 0);
  transition: width 0.3s;
}

.link a:hover::after {
  width: 100%;
}

.logo {
  width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hero Section */
.hero_container {
  height: 65%;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero_img {
  width: 40%;
  height: 70%;
  text-align: center;
}

.hero_img img {
  width: 50%;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.75);
}

/* Containers */
#home_container,
#about_container,
#contact_container {
  min-height: 92vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#home_container {
  background: url('../../public/images/IMG_5039.jpg') no-repeat center center fixed;
  background-size: cover;
}

#about_container {
  background: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.81)),
    url('../../public/images/IMG_5039.jpg') no-repeat center center fixed;
  background-size: cover;
}

#contact_container {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.59)),
    url('../../public/images/IMG_5039.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* About Section */
.about {
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  display: flex;
}

.about div {
  font-size: 5rem;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  padding-top: 40vh;
}

/* Contact Section */
.contact_me {
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
}

.contact_me div {
  font-size: 6rem;
  letter-spacing: 0.1rem;
  width: 100%;
  text-align: center;
  padding-top: 20vh;
}

.contact_me p {
  color: rgb(252, 223, 58);
}

/* Footer */
#footer_container {
  width: 100%;
  background-color: rgb(22, 22, 22);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
}

.social_footer a i {
  color: aliceblue;
}

.social_footer a i:hover {
  color: rgb(195, 204, 69);
}

.copyright p {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

/* Media Queries */

@media screen and (min-width: 2000px) {
  .link a {
    font-size: 1rem;
  }

  .logo {
    width: 350x;
  }

  .logo img {
    width: 6rem;
  }

  .socialMedia i {
    font-size: 16px;
  }

  .shows_content h2 {
    font-size: 1.6rem;
  }

  .show_header {
    font-size: 0.96rem;
  }

  .top_date,
  .bottom_date {
    font-size: 0.72rem;
  }

  .middle_date {
    font-size: 0.96rem;
  }

  .show_ticket button {
    font-size: 0.8rem;
  }

  .about h2 {
    font-size: 1.6rem;
  }

  .about p {
    font-size: 0.96rem;
  }

  #footer_container {
    height: 48px;
  }

  .contact_me p {
    font-size: 0.88rem;
  }

  .contact_me p span {
    font-size: 0.96rem;
  }

  .copyright p {
    font-size: 0.64rem;
  }
}

 

 
 